body {
    background-image: url("https://i.ytimg.com/vi/EU0xS355BlQ/maxresdefault.jpg");
    background-size: stretch;
  }
  
  h1{
    font-size: 2.5rem;
    color: rgb(244, 244, 238);
    padding: 0em;
    margin:0.3em;}